<!-- Footer -->

<footer class="colored-section" id="footer">

    <div class="container-fluid">
        <a href="https://twitter.com/ranjanshashi947" class="text-body-tertiary"><i class="social-icons fa-brands fa-twitter"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100015100774667" class="text-body-tertiary"><i class="social-icons fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/ranjan_shashi_/" class="text-body-tertiary"><i class="social-icons fa-brands fa-instagram"></i></a>
        <a href="mailto:ranjanshashi9471@gmail.com" class="text-body-tertiary"><i class="social-icons fa-solid fa-envelope"></i></a>
    </div>

    <p>© Copyright MyVirtualDiary</p>

</footer>


</body>

</html>