<%- include('partials/header'); -%>

<!-- Grid -->
<section class="colored-section" id="title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <h1 class="big-heading">Keep Your Personal Secrets Safe.</h1>
                <a class="btn btn-dark btn-lg download-button" href="/login"><i
                            class="fa-solid fa-arrow-right-to-bracket"></i> LogIn</a>
                <a class="btn btn-outline-light btn-lg download-button" href="/register"><i
                            class="fa-solid fa-user-plus"></i> Register</a>
            </div>
            <div class="col-lg-6 mx-auto">
                <div class="ps-5">
                    <img class="title-image" src="images/giphy.gif" alt="Diary">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Features -->

<section class="white-section" id="features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 feature-box">
                <i class="fa-solid fa-circle-check fa-4x icon"></i>
                <h3 class="feature-title">Easy to use.</h3>
                <p>So easy to use, anyone can use.</p>
            </div>

            <div class="col-lg-4 feature-box">
                <i class="fa-solid fa-bullseye fa-4x icon"></i>
                <h3 class="feature-title">Hassle free Login.</h3>
                <p>LogIn with your Google or Facebook Account.</p>
            </div>

            <div class="col-lg-4 feature-box">
                <i class="fa-solid fa-heart fa-4x icon"></i>
                <h3 class="feature-title">Guaranteed to work.</h3>
                <p>It has all the features, to organise your entries.</p>
            </div>

        </div>

    </div>
</section>

<!-- Testimonials -->

<section class="colored-section" id="testimonials">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
                <h2 class="testimonial-text">I am no Longer Worried About my Secrets being Read by Anyone,Virtual Diary
                    Being Safe and Protected.</h2>
                <img class="testimonial-image" src="images/download.png" alt="dog-profile">
                <em>Shashi, New York</em>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="testimonial-text">It has Brilliant Features ,It organises my all entries in a single place
                    datewise With Security.</h2>
                <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">
                <em>Beverly, Illinois</em>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!-- Press -->

<section class="colored-section" id="press">
    <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-logo" src="images/mashable.png" alt="mashable-logo">
    <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
</section>

<!-- Call to Action -->

<section class="white-section" id="cta">
    <div class="container-fluid">
        <h3 class="big-heading">Find Your All the Secrets Arranged at a Place.</h3>
        <button type="button" class="btn btn-dark btn-lg download-button"><i class="fa-brands fa-apple"></i> Download
        </button>
        <button type="button" class="btn btn-light btn-lg download-button"><i class="fa-brands fa-google-play"></i>
            Download
        </button>
    </div>
</section>


<%- include('partials/footer'); -%>
